.App {
  text-align: center;
}

.App {
  background-color: rgb(77, 176, 238);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home, .Inventory { 
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: White;
}

.Villagers, .Nooks { 
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: White;
}


.card {
  margin: 100;
  padding: 25px;
  background-color: rgb(247, 239, 229);
  height: auto;
  color: black;
}



.App-link {
  color: #61dafb;
}

/* Navlinks */

nav {
  background-color: rgb(0, 190, 0);
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  border-bottom: 2px solid black;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: black;
  color: white;
}
